pydantic>=2.10,<3
PyYAML>=6.0,<7
Django>=5.2.16,<5.3
djangorestframework>=3.16.1,<4
django-cors-headers>=4.9,<5
dj-database-url>=2.3,<3
psycopg[binary]>=3.2,<4
typer>=0.15,<1
rich>=13.9,<15
python-dotenv>=1.2,<2

gunicorn>=23,<24
boto3>=1.35,<2

cryptography>=44,<47
